<%- include('partials/headerDashboard') %>
<h1 id="welcome">Welcome <%=username%></h1>
<p></p>
<!-- <%blogs.forEach(blog => console.log(blog.titlle))%> -->
<%let len=blogs.length;%>

<%for(let i=0;i<len;i++){%>
    <h1 id="ph"><%=blogs[i].title%></h1>
    <p id="pp"><%=blogs[i].post.substring(0,100)%>...<a href="/users/posts/<%=blogs[i]._id%>">Read more</a></p>
    <br>
<%}%>
</div>

<div class="menu">
    <div class="search-box">
      <input class="search-txt" type="text" name="" placeholder="  Search Your Blogs..">
      <a class="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>        
    </div>
    <div class="searched">
        Searched Items appear here.<br>
        Searched Items appear here.<br>
        Searched Items appear here.<br>
        Searched Items appear here.<br>
        Searched Items appear here.<br>
        Searched Items appear here.<br>
        Searched Items appear here.<br>
        Searched Items appear here.<br>
        
    </div>
<%- include('partials/footer') %>