<%- include('partials/headerDashboard') %>
<h1 id="welcome">Welcome <%=username%></h1>
<%let len=blogs.length;%>

<%for(let i=0;i<len;i++){%>
    <h1 id="ph"><%=blogs[i].title%></h1>
    <p id="pp"><%=blogs[i].post.substring(0,100)%>...<a href="/users/posts/<%=blogs[i]._id%>">Read more</a></p>
    <br>
<%}%>
</div>

<div class="menu">
    <div class="search-box">
      <!-- <input class="search-txt" type="text" name="search" placeholder="  Search Your Blogs.."> -->
      <!-- <a class="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>         -->
      <br>
      <form action="/users/dashboard" method="POST">
        <input class="search-txt" type="text" name="search" placeholder="  Search Your Blogs.." autocomplete="off">
        <button  class="log" type="submit" ><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>
    <%let len1=searches.length;%>
    
        <%for(let i=0;i<len1;i++){%>
            <div class="searched">
            <%=searches[i].title %><br>
            <%=searches[i].post.substring(0,100)%>...<a href="/users/posts/<%=searches[i]._id%>">Read more</a> %>      
            </div>
        <%}%>
        <!-- <p style="color:white"><%=title_error%></p> -->
        <div class="titerror">
          <p style="color:white"><%=title_error%></p>
        </div>
        
    
</div>
    
<%- include('partials/footer') %>