<%- include('partials/headerDashboard') %>
<h1>Welcome <%=username%></h1>
<p> </p>
<!-- <%blogs.forEach(blog => console.log(blog.titlle))%> -->
<%let len=blogs.length;%>

<%for(let i=0;i<len;i++){%>
    <h1><%=blogs[i].title%></h1>
    <%if(blogs[i].post.length>10){%>
        
        <p><%=blogs[i].post.substring(0,100)%>...<a href="/posts/<%=blogs[i]._id%>">Read more</a></p>
    <%} else{ %> 
        <p><%=blogs[i].post%></p>
    <%}%>
    
<%}%>


<%- include('partials/footer') %>